<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin-home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aibot/aichatbot.css}">
</head>
<body>
<div th:replace="~{common/header::header}"></div>
<div id="wrap">
    <h1>ADMIN</h1>

    <ul>
        <li><a th:href="@{/admin/inquiry}">1:1 문의 관리</a></li>
        <li><a th:href="@{/admin/reports}">신고 내역</a></li>
        <li><a th:href="@{/admin/event}">대회 등록 관리</a></li>
    </ul>
</div>
<div th:replace="~{common/footer::footer}"></div>
</body>
</html>